extends layout

block content
    h1= title
    button.btn.btn-dark #[a(href='/') Home]
    div#form-edit
        form(method="post" action="/update_mahasiswa")
            input(type="hidden" name="nim" value="#{mahasiswa.nim}").form-control

            label(for="NAMA") NAMA :
            input(type="text" name="nama" value="#{mahasiswa.nama}").form-control

            label(for="JURUSAN") JURUSAN :
            input(type="text" name="jurusan" value="#{mahasiswa.jurusan}").form-control

            label(for="KELAS") KELAS :
            input(type="text" name="kelas" value="#{mahasiswa.kelas}").form-control

            button(type='submit').btn.btn-success UPDATE
